<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chat.socket.database.mapper.ChatMapper">

    <select id="findUser" resultType="com.chat.socket.database.dto.LoginDTO" parameterType="com.chat.socket.database.dto.LoginDTO">
        SELECT user_id, user_name from userlogin WHERE user_id = #{userId} AND user_pwd = sha2(#{userPwd}, 256)
    </select>

    <select id="findLog" resultType="com.chat.socket.database.dto.ChatDTO" parameterType="com.chat.socket.database.dto.ChatDTO">
        SELECT * from chatlog where user_id = #{userId} AND date_format(reg_time, '%Y-%m-%d') = date_format(now(), '%Y-%m-%d')
    </select>

    <select id="findStatus" resultType="com.chat.socket.database.dto.LoginDTO" >
        SELECT user_id, user_name from userlogin
    </select>

    <insert id="createLog" parameterType="com.chat.socket.database.dto.ChatDTO" useGeneratedKeys="true" keyProperty="idx">
        INSERT INTO chatlog (user_id, user_name, user_ip, chat_content, reg_time) VALUES(#{userId}, #{userName}, #{userIp}, #{chatContent}, #{regTime})
    </insert>

</mapper>
